
#page-1{
    background-image: url(/Users/asho/Documents/Tugas/assets/main-bg.jpg);
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

@font-face {
    font-family:'Bebas Neue', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
}

@font-face {
    font-family:'Open Sans';
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');
}

#title-text{
    font-family: 'Open Sans';
    font-size: 65px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 13%;
    top: 35%;
    letter-spacing: 5px;
}

nav{
    display: flex;
    font-family: 'Open Sans';
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 0.6;
    color: white;    
}
nav h1{
    margin-top: 1rem;
    margin-left: 3rem;
    font-size: 24px;
    font-weight: normal;
    vertical-align: middle;
}
nav ul{
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    list-style: none;
    font-weight: normal;
}

nav ul li{
    padding: 0rem 1rem;
    font-size: 16px;
    font-weight: bold;
    color: white;
    align-items: center;
}

#sub-text-1{
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: normal;
    text-transform: initial;
    color: white;
    position: absolute;
    top: 50%;
    left: 33%;
    letter-spacing: 1px;
}

#rcorners1{
    border-radius: 0px;
    background:orange;
    padding: 25px; 
    width: 200px;
    line-height: 3px;
    height: 15px;
    position: absolute;
    font-weight: bold;
    top: 58%;
    left: 40%;
    width: 15%;
    vertical-align: middle;
    text-align: center;
}

#the-story{
    font-size: 10px;
    letter-spacing: 0.5px;
    color: white;
    position: absolute;
    bottom: 90%;
    top: 92%;
    left: 44.5%;
}

#triangle{
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 40px solid white;
    background-color: transparent;
    opacity: 0.2;
    position: absolute;
    bottom: 90%;
    top: 94%;
    left: 45.2%;
}

#page-2{
    background-image: url(/Users/asho/Documents/Tugas/assets/the-games-bg.jpg);
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#text-page2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #cccccc;
    position: absolute;
    top: 14%;
    left: 9%;
}

#text-page2-1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #cccccc;
    position: absolute;
    top: 18%;
    left: 9%;
}

#carousel-game {
    position: absolute;
    top: 20%;
    left: 28%;
    height: 400px;
    width: 875px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

.carousel-control-prev{
    margin-left: -85px;
}

.carousel-control-next{
    margin-right: -85px;
}

#text-page3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #cccccc;
    position: absolute;
    left: 56%;
    top: 22%;
    letter-spacing: 2px;
}

#text-page3-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #cccccc;
    position: absolute;
    left: 56%;
    top: 25%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#text-page3-2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FFB548;
    position: absolute;
    left: 60%;
    top: 45%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#text-page3-3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    position: absolute;
    left: 60%;
    top: 55%;
    right: 10%;
    text-align: justify;
}

#text-page3-4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FFB548;
    position: absolute;
    left: 60%;
    top: 67%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#text-page3-5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FFB548;
    position: absolute;
    left: 60%;
    top: 75%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#vertical-line{
    border-left: 3px solid white;
    height: 145px;
    position: absolute;
    left: 57.4%;
    top: 48%;
}

.dot-white-traditional{
    height: 15px;
    width: 15px;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    left: 57%;
    top: 46.5%;
}

.dot-white-game{
    height: 15px;
    width: 15px;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    left: 57%;
    top: 68.5%;
    opacity: 0.2;
}

.dot-white-tbd{
    height: 15px;
    width: 15px;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    left: 57%;
    top: 76.5%;
    opacity: 0.2;
}

#text-page-4{
    position: absolute;
    height: 74px;
    left: 9%;
    right: 47%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
}

#text-page4-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    letter-spacing: 2px;
    position: absolute;
    top: 15%;
    left: 40%;
}

#text-page4-2{
    position: absolute;
    left: 9%;
    top: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
    color: white;
    line-height: 60px;
    width: 50%;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: justify;
}

.container{
    position: absolute;
    top: 38%;
    left: 9%;
}

.orange-text{
    color: #FFB548;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.white-text{
    color: white;
    font-size: 18px;
    line-height: 22px;
}

#features{
    background-image: url(/Users/asho/Documents/Tugas/assets/features.jpg);
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#requirement{
    background-image: url(/Users/asho/Documents/Tugas/assets/requirements.png);
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#top-scores{
    background-image: url(/Users/asho/Documents/Tugas/assets/topscore-ok-bg.jpg);
    background-color: #cccccc;
    height: 100vh;
    width: 1350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-right: 25px;
    opacity: 0.9;
}

#text-page5{
    position: absolute;
    left: 9%;
    top: 35%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
    color: white;
    line-height: 60px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: justify;
}

#text-page5-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    position: absolute;
    left: 9.5%;
    top: 45%;
    line-height: 22px;
    width: 27%;
}

#rcorners2{
    border-radius: 5px;
    background:orange;
    padding: 25px; 
    width: 200px;
    line-height: 2px;
    height: 15px;
    position: absolute;
    font-weight: bold;
    top: 55%;
    left: 9.5%;
    width: 15%;
    vertical-align: middle;
    text-align: center;
}

#rcorners3{
    border-radius: 10px;
    background:black;
    height: 160px;
    width: 400px;
    line-height: 2px;
    position: absolute;
    font-weight: bold;
    top: 10%;
    right: 10%;
    opacity: 0.7;
}

#evan{
    position: absolute;
    background-image: url(/Users/asho/Documents/Tugas/assets/image-8.png);
    width: 65px;
    height: 65px;
    right: 33%;
    top: 12%;
    border-radius: 50%;
}

#evan-name{
    position: absolute;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    right: 22%;
    top: 12.5%;
}

#evan-tag{
    position: absolute;
    font-size: 16px;
    color: gray;
    right: 26.2%;
    top: 17%;
}

#evan-testimony{
    position: absolute;
    font-size: 16px;
    color:white;
    right: 15%;
    top: 20%;
}

#evan-timestamp{
    position: absolute;
    font-size: 16px;
    color: gray;
    right: 28.5%;
    top: 30%;
}

#evan{
    position: absolute;
    background-image: url(/Users/asho/Documents/Tugas/assets/image-8.png);
    width: 65px;
    height: 65px;
    right: 33%;
    top: 12%;
    border-radius: 50%;
}

#evan-name{
    position: absolute;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    right: 22%;
    top: 12.5%;
}

#evan-tag{
    position: absolute;
    font-size: 16px;
    color: gray;
    right: 26.2%;
    top: 17%;
}

#evan-testimony{
    position: absolute;
    font-size: 16px;
    color:white;
    right: 15%;
    top: 23%;
}

#evan-timestamp{
    position: absolute;
    font-size: 16px;
    color: gray;
    right: 28.5%;
    top: 27%;
}

#rcorners4{
    border-radius: 10px;
    background:black;
    height: 170px;
    width: 400px;
    line-height: 2px;
    position: absolute;
    font-weight: bold;
    top: 35%;
    right: 20%;
    opacity: 0.7;
}

#jada{
    position: absolute;
    background-image: url(/Users/asho/Documents/Tugas/assets/image-1.png);
    width: 65px;
    height: 65px;
    right: 43%;
    top: 37%;
    border-radius: 50%;
}

#jada-name{
    position: absolute;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    right: 30%;
    top: 37%;
}

#jada-tag{
    position: absolute;
    font-size: 16px;
    color: gray;
    right: 34.5%;
    top: 41%;
}

#jada-testimony{
    position: absolute;
    font-size: 16px;
    color:white;
    right: 18%;
    top: 48%;
    width: 30%;
}

#jada-timestamp{
    position: absolute;
    font-size: 16px;
    color: gray;
    right: 38%;
    top: 55%;
}

#rcorners5{
    border-radius: 10px;
    background:black;
    height: 200px;
    width: 400px;
    line-height: 2px;
    position: absolute;
    font-weight: bold;
    top: 60%;
    right: 10%;
    opacity: 0.7;
}

#aaron{
    position: absolute;
    background-image: url(/Users/asho/Documents/Tugas/assets/image.png);
    width: 65px;
    height: 65px;
    right: 32%;
    top: 63%;
    border-radius: 50%;
}

#aaron-name{
    position: absolute;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    right: 17%;
    top: 64%;
}

#aaron-tag{
    position: absolute;
    font-size: 16px;
    color: gray;
    right: 26.5%;
    top: 68%;
}

#aaron-testimony{
    position: absolute;
    font-size: 16px;
    color:white;
    right: 12%;
    top: 73%;
    width: 25%;
}

#aaron-timestamp{
    position: absolute;
    font-size: 16px;
    color: gray;
    right: 26.5%;
    top: 80%;
}

#newsletter{
    background-color: black;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#skull{
    position: absolute;
    background-image: url(/Users/asho/Documents/Tugas/assets/gold-skull.png);
    top: 5%;
    left: 10%;
    height: 600px;
    width: 412px;
}

#stay-in-touch{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    top: 15%;
    right: 35%;
    letter-spacing: 2px;
}

#newsletter-text{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: white;
    top: 19%;
    right: 26%;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 30%;
}

#body{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    top: 45%;
    left: 44.5%;
    width: 45%;
}

#rcorners6{
    border-radius: 0px;
    background:gray;
    height: 50px;
    width: 315px;
    line-height: 2px;
    position: absolute;
    top: 60%;
    right: 32%;
    opacity: 0.5;
}

#email{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
    top: 60%;
    right: 46%;
}

#binar-email{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:#FFB548;
    top: 63%;
    right: 41.5%;
}

#rcorners7{
    border-radius: 0px;
    background:orange;
    padding: 25px; 
    width: 200px;
    line-height: 2px;
    height: 15px;
    position: absolute;
    font-weight: bold;
    top: 60%;
    right: 15%;
    width: 15%;
    vertical-align: middle;
    text-align: center;
}

#copyright{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:gainsboro;
    top: 90%;
    left: 10%;
    opacity: 0.5;
}

#privacy{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:gainsboro;
    top: 90%;
    right: 10%;
    text-transform: uppercase;
    font-weight: bold;
}

#main{
    position: absolute;
    width: 67.51px;
    height: 20.19px;
    top: 80%;
    right: 65%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

#about{
    position: absolute;
    width: 67.51px;
    height: 20.19px;
    top: 80%;
    right: 57%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

#ftrs{
    position: absolute;
    top: 80%;
    right: 45%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

#req{
    position: absolute;
    top: 80%;
    right: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

#horizontal-line{
    position: absolute;
    top: 86%;
    left: 10%;
    border: 1px solid white;
    width: 1090px;
    opacity: 0.3;
}

#quotes{
    position: absolute;
    top: 80%;
    right: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media only screen and (max-width:600px) {
    body{
        position: absolute;
        background-color: blue !important;
        font-size: 12px !important;
        background-size: 100% !important;
        height: 100vh !important;
    }
}